.ct-bottom-container h2 {
    text-align: center;
    color: var(--ct-color-font-secondary);
    font-size: 20px;
    padding: 20px 0;
}

@media(min-width: 576px) {
    .ct-bottom-container h2 {
        font-size: 32px;
    }
}