footer {
    height: 120px;
    background-color: var(--ct-color-primary);
    color: var(--ct-color-bg-primary);
}

.ct-footer-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}